.tense-explanation__video-card {
  width: 360px;
  border-radius: 16px;
  overflow: hidden;
  background: var(--primary-color-purple);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.35);
}

.tense-explanation__video {
  width: 100%;
  display: block;
}

.tense-explanation__content {
  width: 100%;
  max-width: 330px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tense-explanation__title {
  color: var(--neutral-color-white);
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 24px;
}

.tense-explanation__text {
  color: var(--neutral-color-white);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  margin: 0 0 36px;
}