@font-face {
  font-family: 'Spotify Mix';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SpotifyMix-Regular.woff2') format('woff2'),
       url('../fonts/SpotifyMix-Regular.woff') format('woff');
}

@font-face {
  font-family: "Spotify Mix";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/SpotifyMix-Bold.woff2") format("woff2"),
       url("../../font/SpotifyMix-Bold.woff") format("woff");
}